<?xml version="1.0" encoding="utf-8"?>
<root>
 <config>
    <SITE value="http://5.9.41.107/Resource/" />
    <FIRSTPAGE value="http://5.9.41.107/gunny/flash/" />
    <REGISTER value="http://5.9.41.107/gunny/" />
    <REQUEST_PATH value="http://5.9.41.107/req30/" />
    <LOGIN_PATH value="http://5.9.41.107/gunny/" siteName="DDTank" />
    <FILL_PATH value="http://5.9.41.107/gunny/flash/" />
<POLICY_FILES>
<file value="http://5.9.41.107/crossdomain.xml"/>
</POLICY_FILES>
<ALLOW_MULTI value="false"/>
<TRAINER_PATH value="tutorial.swf"/>
<MUSIC_LIST value="1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1034,1035,1036,1037,1038,1039,1040,1059,1060,1061,1062,1063,1065,1067,1068,1069,1077"/>
<LANGUAGE value="en_us"/>
<PARTER_ID value="444"/>
<STATISTIC value="true"/>
<SUCIDE_TIME value="120"/>
<GAME_BOXPIC value="1"/>
<ISTOPDERIICT value="true"/>
<COUNT_PATH value="http://gamebihandler.7road.com/gunny_game/List_BI_Click.ashx"/>
<PHP isShow="true" link="true" site="http://me.zing.vn/{id}/home" infoPath="http://assist3.gn.zing.vn/GetUserImg.aspx?uid={uid}"/>
<OFFICIAL_SITE value="http://5.9.41.107/"/>
<GAME_FORUM value="http://5.9.41.107"/>
<COMMUNITY_FRIEND_PATH isUser="false" value="http://gunny.the9.com/addfriend.php"/>
<COMMUNITY_INVITE_PATH value="http://gunny.the9.com/invite.php"/>
<COMMUNITY_FRIEND_LIST_PATH value="http://assist30.gn.zing.vn/Other/GetSnsFriendList" snsPath="http://s19.ddt.kaixin001.com.cn/assist/SnsServer/NotifySnsUserUpgrade" isexist="true" isexistBtnVisble="true" cmBtnVisble="false"/>
<COMMUNITY_INTERFACE enable="true" path="http://assist30.gn.zing.vn/Other/" shareBtnVisble="false"/>
<FEEDBACK serviceTel="86-0755-88888888" serviceUrl="http://www.www.com" enable="false"/>
<EXTERNAL_INTERFACE path="http://fb.egame.hk/GameAccess/facebook/gunny/postAction.jsp" enable="false"/>
<ALLOW_POPUP_FAVORITE value="false"/>
<FILL_JS_COMMAND value="trace" enable="false"/>
<MINLEVELDUPLICATE value="9"/>
<STHRENTH_MAX value="15"/>
<SHIELD_NOTICE value="false"/>
<FEEDBACK enable="false"/>
<USER_GUILD_ENABLE value="false"/>
<FIGHTLIB value="true"/>
<TRIEVE_ENABLE value="true"/>
<DUNGEON_OPEN value="1,2,3,4,5,6,7,8,9,10,11,12"/>
<CARD_ENABLE value="true"/>
<RANDOM_CHANNEL value="true"/>
<MODULE>
<CIVIL enable="true"/>
<CHURCH enable="true"/>
</MODULE>
<CHAT_FACE>
<DISABLED_LIST list="38"/>
</CHAT_FACE>
</config>
<update>
<version from="1" to="2">
<file value="*"/>
</version>
<version from="6" to="7">
<file value="*"/>
</version>
<version from="13" to="14">
<file value="2.png"/>
</version>
</update>
</root>